.button {
  position: absolute;
  right: 160px;
  bottom: 120px;
}

.button_expense {
  width: 300px;
  height: 80px;
  color: white;
  font-size: 25px;
  background-color: black;
  border-radius: 10px;
}
